/*body {
}
.creat-main{
    display:flex;
    width:100%;
    margin:30px 80px;
}
.creat-main .creat-left {
    width: 30%
}
.creat-main .creat-left img{
    height: 500px;
    width: 80%;

}
.creat-main .form-right {
    width: 70%;
}
.creat-main .form-right .form-group-right{
    display:flex;
    width:100%;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.creat-main .form-right .form-group-right label {
    width: 60%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 10px;
    margin-left: 50px;
    display: inline-block;
    cursor: default;
}

.creat-main .form-right .form-group-right .col-md-10 {
    width: 40%;
    font-size: 20px;
    font-family: "Arial", serif;
    font-weight: 600;
    color: white;
    opacity: 0.8;
}
*/