@{
    ViewBag.Title = "Details";
}
<head>
    <link rel="stylesheet" href="~/Content/Details-Style.css" />
</head>
<body>
    <h1>FIFTY YEARS A SLEEP YU JI DREAM</h1>
    <hr />
    <section class="first">
        <left>
            <img src="~/Content/Picture/footer2.jpg" alt="mainPicture" />
        </left>
        <right>
            <p>Farewell My Concubine is an epic film.</p>
            <p>What is epic?</p>
            <p>In fact, it reflects the appearance of a history and an era by telling the fate of individuals.</p>
            <p>This is epic cinema.</p>
        </right>
    </section>
    <section class="text">
        <p>
            Its main characters are two actors, Cheng Dieyi and Duan Xiaolou.
            The film takes the emotions of these two people as the main line, through the "unchanged" of Cheng Dieyi and the "change" of Duan Xiaolou, to tell the story of 53 years from 1924 to 1977.
            The two protagonists have grown from 8 or 9 year old children to 60 or 70 year old men.
            The whole story spans the period of the Beiyang government, the period of Anti-Japanese War, the period of civil war, the founding of the Republic, the Cultural Revolution, and the most turbulent period in modern Chinese history.
        </p>
    </section>
    <div class="mainRole">
        <div class="image-container">
            <img src="~/Content/Picture/Details-Dieyi.jpg" alt="Dieyi Cheng" class="image" id="dieyi" />
            <div class="caption" id="dieyi-caption">
                Cheng Dieyi is a true and pure character, is an idealist with spiritual cleanliness, she has never been changed by The Times. His obsession with Peking Opera, his obsession with the stage, and his obsession with the overlord, Duan Xiaolou. His "crazy", also doomed his final tragic fate.
            </div>
        </div>
        <div class="image-container">
            <img src="~/Content/Picture/Details-Xiaolou.jpg" alt="Xiaolou Duan" class="image" id="xiaolou" />
            <div class="caption" id="xiaolou-caption">
                Duan Xiaolou and Cheng Die Yi are different, he is a person who has been profoundly changed by The Times. He used to be a bully on stage, but he was also a very macho figure off stage, and he was fighting people everywhere. But in the end, at the criticism meeting, the former bully, made a turtle, bully into a bastard. It's his tragedy.
            </div>
        </div>
    </div>
    <section class="text">
        <p>
            In the tragedies of these two men, we seem to see a greater fatalistic tragedy.
            In the face of such a historical dilemma, whether it is like Duan Xiaolou, choosing to survive, or like Cheng Dieyi, choosing to die with regret, there seems to be no big difference.
            Nothing will change, everyone is just a passing passenger on the great stage of history.
        </p>
        <p>
            This is "Farewell My Concubine" for us to create a long time can not forget the sense of loss and sadness.
        </p>
        <p>
            In the whole film, the play "Farewell My Concubine", Duan Xiaolou and Cheng Dieyi sing a total of six times.
            Also, there is an interesting phenomenon, that is, as long as they sing, something will happen. In other words, the director never let them sing.
        </p>
    </section>
    <div class="Sing">
        <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-1-square-fill" viewBox="0 0 16 16" color=#f89d35>
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z" />
                </svg>
                <img src="~/Content/Picture/张公公.jpg" alt="张公公" />
                <p>
                    Father Zhang, an old eunuch in the former dynasty, a red man near the queen mother.
                    And next, small beans - childhood Cheng Die Yi, was indecent by Zhang's father-in-law. It's a terrible memory, too.
                </p>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-2-square-fill" viewBox="0 0 16 16" color=#f89d35>
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z" />
                </svg>
                <img src="~/Content/Picture/袁四爷.jpg" alt="袁四爷" />
                <p>
                    The second time was Fourth Master Yuan. It was 1937, the eve of the July 7 Incident. At this time, a small building and cheng die yi two people have become a corner.
                    For the feelings between Duan Xiaolou and Cheng Die Yi, fourth Master Yuan is an intervener. But he's not a villain.
                </p>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-3-square-fill" viewBox="0 0 16 16" color=#f89d35>
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z" />
                </svg>
                <img src="~/Content/Picture/菊仙.jpg" alt="菊仙" />
                <p>
                    The overlord on the stage sang to Yu Ji: "According to Gu, today is the day you and I parted." At this time, Chrysanthemum fairy stood up, dressed in white, swaggered out of the garden.
                    To buy her own freedom to go, she is determined to marry Duan Xiaolou. This also led to the break between the small building and Cheng Die Yi.
                </p>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-4-square-fill" viewBox="0 0 16 16" color=#f89d35>
                    <path d="M6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z" />
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265Z" />
                </svg>
                <img src="~/Content/Picture/国民党.jpg" alt="国民党" />
                <p>
                    After the victory of the Anti-Japanese War, a group of wounded soldiers of the Kuomintang came to see the play, causing a big melee.
                    Finally Cheng die yi was arrested, chrysanthemum fairy also aborted.
                </p>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-5-square-fill" viewBox="0 0 16 16" color=#f89d35>
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.994 12.158c-1.57 0-2.654-.902-2.719-2.115h1.237c.14.72.832 1.031 1.529 1.031.791 0 1.57-.597 1.57-1.681 0-.967-.732-1.57-1.582-1.57-.767 0-1.242.45-1.435.808H5.445L5.791 4h4.705v1.103H6.875l-.193 2.343h.064c.17-.258.715-.68 1.611-.68 1.383 0 2.561.944 2.561 2.585 0 1.687-1.184 2.806-2.924 2.806Z" />
                </svg>
                <img src="~/Content/Picture/解放军.jpg" alt="解放军" />
                <p>
                    In 1949, the People's Liberation Army entered Beiping and came to the opera garden. Results that day cheng die Yi voice because of long-term opium abuse lost voice, duan Xiaolou hurriedly stood up to apologize.
                    Unexpectedly, the soldiers under the stage not only did not make trouble, but also clapped. Finally, the People's Liberation Army sang "Our team to the sun," and the two people on the stage were completely at a loss.
                </p>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-6-square-fill" viewBox="0 0 16 16" color=#f89d35>
                    <path d="M8.111 7.863c-.92 0-1.564.65-1.564 1.576 0 1.032.703 1.635 1.558 1.635.868 0 1.553-.533 1.553-1.629 0-1.06-.744-1.582-1.547-1.582Z" />
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.21 3.855c1.612 0 2.515.99 2.573 1.899H9.494c-.1-.358-.51-.815-1.312-.815-1.078 0-1.817 1.09-1.805 3.036h.082c.229-.545.855-1.155 1.98-1.155 1.254 0 2.508.88 2.508 2.555 0 1.77-1.218 2.783-2.847 2.783-.932 0-1.84-.328-2.409-1.254-.369-.603-.597-1.459-.597-2.642 0-3.012 1.248-4.407 3.117-4.407Z" />
                </svg>
                <img src="~/Content/Picture/最后唱戏.jpg" alt="最后唱戏" />
                <p>
                    In 1977, all the turmoil seemed to be over, but Beijing Opera had also completely declined. So, the old Cheng Die yi and Duan Xiaolou, they can only come to a basketball arena to rehearse.
                    In this empty arena, they completed the last performance of "Farewell My Concubine" in their life.
                </p>
            </li>
        </ul>
    </div>
    <section class="text">
        <p>
            There are two people in the middle of Cheng Die Yi and Duan Xiaolou emotion, one is Ju Xian, one is Yuan fourth master.Both are supporting characters, but the characterization is extremely full.
            In fact, this is also a measure of whether a good film is a standard, is to see whether you can take the supporting role as the protagonist, write an equally wonderful story. It's very obvious. Juxian and Fourth Master Yuan are very brilliant supporting characters.
        </p>
    </section>
    <div class="mainRole">
        <div class="image-container">
            <img src="~/Content/Picture/Details-Xian.jpg" alt="Xian Ju" class="image" id="xian" />
            <div class="caption" id="dieyi-caption">
                She was a prostitute, an identity she tried to escape all her life, but couldn't. Chen Kaige put her "life" in the film as a prop, that is, "shoes".
            </div>
        </div>
        <div class="image-container">
            <img src="~/Content/Picture/Details-Siye.jpg" alt="Siye Yuan" class="image" id="siye" />
            <div class="caption" id="xiaolou-caption">
                This fourth master Yuan came out, in the background and segment small building, Cheng Die Yi first meet, showed his heart. Fourth Master Yuan's tragedy is that although he is the person who understands Cheng Dieyi the most, he also wants to be his overlord, but in Cheng Dieyi's eyes, he is just a substitute to fill the void temporarily
            </div>
        </div>
    </div>

    <div class="moreXian" style="display: none;">
        <div class="group" style="display:flex;">
            <img src="~/Content/Picture/菊仙丢鞋.jpg" alt="菊仙丢鞋" />
            <text>
                <p>
                    In the old society, prostitutes were called "broken shoes" because in the eight hutong streets of Beijing, prostitutes would hang a pair of embroidered shoes at the door of their homes as a sign.
                    Over time, the wind and sun, the shoes will be broken, so there is such a name. So when we see the chrysanthemum fairy to redeem their own freedom, the money is given to the madam, and the last thing thrown on the table is this pair of shoes on the foot.
                </p>
            </text>

        </div>
        <div class="group" style="display:flex;">
            <img src="~/Content/Picture/蝶衣丢鞋.jpg" alt="蝶衣丢鞋" />
            <text>
                <p>
                    In the end, she went to the Duan Xiaolou barefoot, and she wanted to enter the Duan's door clean. Results to the background, small building and chrysanthemum fairy two people on the engagement.
                    Cheng Die yi is very unhappy, he pushed the door open, snap, a pair of shoes, thrown at the foot of chrysanthemum fairy. That's the name of the shoe. It's not easy to take it off.
                </p>
            </text>
        </div>
        <section class="text">
            <p>
                Since she followed Duan Xiaolou, she really achieved those four words, that is, from one to the end.
                When a small building was caught by the Japanese, is she to find cheng die yi intercede; When Duan Xiaolou was beaten by the wounded soldiers, it was she who was pregnant, the first to rush up, and finally lost the child...
            </p>
            <p>
                What a whore is that? This is a virginal. Even the masculine side of her body, even Cheng die Yi also has to sigh.
            </p>
            <p>
                But at the final meeting, when Duan Xiaolou knelt in front of the crowd, he revealed, "I don't love her, I want to draw a line with her."
            </p>
        </section>
        <div class="group" style="display:flex;">
            <img src="~/Content/Picture/菊仙自杀.jpg" alt="菊仙自杀" />
            <text>
                <p>
                    Finally, Juxian returned the sword - the token of love between Cheng Dieyi and Duan Xiaolou - to Cheng Dieyi, then turned back to him with a faint smile, and hanged herself.
                </p>
                <p>
                    And when she died, there were her embroidered shoes on the table. She wanted to take off these shoes for a lifetime, but after all, she didn't take them off.
                </p>
                <p>
                    This is the tragedy of Jue Xian.
                </p>
            </text>
        </div>
    </div>

    <div class="moreSiye" style="display:none;">
        <div class="group" style="display:flex;">
            <img src="~/Content/Picture/四爷表达感情.jpg" alt="四爷表达感情" />
            <text>
                <p>
                    If Cheng Dieyi and Ju Xian are a group of mirror relations, then Yuan Siye and Duan Xiaolou are another group. That is the so-called: true and false overlord.
                    As soon as Fourth Master Yuan appeared, he met Duan Xiaolou and Cheng Dieyi backstage for the first time, and he showed his admiration and regarded him as the next Yu Ji.
                </p>
            </text>
        </div>
        <div class="group" style="display:flex;">
            <img src="~/Content/Picture/四爷争论.jpg" alt="四爷争论" />
            <text>
                <p>
                    He and Duan Xiaolou had an argument, also known as the "five-seven dispute".He asked Duan Xiaolou, said: "Duan boss, the king of Chu returned to the camp, to meet with Yu Ji, according to the old rules should walk seven steps, but you only walked five steps.
                    Chu hegemon is dignified, if he is powerful but not heavy, won't he become the Huang Tianba of the jianghu?"
                </p>
            </text>
        </div>
        <section class="text">
            <p>
                From here, we know that Master Yuan Si is a connoisseur, he knows the theater. In addition, what he wants to fight for is not simply a question of steps, but who is more qualified, to stand by the side of this reincarnated Yu Ji, to be his true overlord.
            </p>
            <p>
                Speaking of Huang Tianba, his most famous story is actually a betrayal. He betrayed the Green Forest and defected to the imperial court.
                So let's look at the story behind "Farewell My Concubine", and it really made Master Yuan Sijie hit the nail on the head. Duan Xiaolou, in the end, he defected to a dehumanizing political force, betrayed Cheng Dieyi, and also betrayed Ju Xian.
            </p>
            <p>
                He wouldn't be the real Overlord, he would just be Huang Tianba.
            </p>
        </section>
        <div class="group" style="display:flex;">
            <img src="~/Content/Picture/四爷被杀.jpg" alt="四爷被杀" />
            <text>
                <p>
                    After the liberation of the country, Yuan was labeled a "reactionary playwright" and had to be shot. We saw that time, he had no fear, took a square step, and went to his death with dignity. At that moment, we suddenly realized that the real king was here.
                </p>
                <p>
                    Like Cheng Dieyi, he was a theater enthusiast, and until the last moment of his life, he was not out of the theater.
                </p>
                <p>
                    But sadly, he never waited for his own Yu Ji.
                </p>
            </text>
        </div>
    </div>
    <section class="text">
        <p>
            At the end of the movie, Cheng Dieyi and Duan Xiaolou reunite again and sing "Farewell My Concubine" for the last time. After fifty years of dreaming of Yu Ji, it is finally time to wake up at this moment.
            Cheng Dieyi draws his sword and kills himself. He does not reject Yu Ji's destiny because of his own disillusionment.
        </p>
    </section>
    <div style="text-align: center;">
        <img src="~/Content/Picture/结尾.jpg" alt="结尾" />

    </div>
    <section class="text" style="text-align: center;">
        <p>
            On the contrary, he really stepped towards Yu Ji's destiny, thus accomplishing his own unswerving naivety.
        </p>
    </section>

</body>