@{
    ViewBag.Title = "Photos";
}
<head>
    <link rel="stylesheet" href="~/Content/Photos-Style.css" />
</head>
<body>
    <h1>MUSIC SOUNDTRACK</h1>
    <hr />
    <h2>《Farewell My Concubine》 movie theme song</h2>
    <section class="first">
        <left>
            <img src="~/Content/Picture/当爱已成往事MV.png" alt="LOVE" />
        </left>
        <right>
            <ul>
                <li>《当爱已成往事》</li>
                <li><strong>Lyricist: </strong>Jonathan Lee</li>
                <li><strong>Composer: </strong>Jonathan Lee</li>
                <li><strong>Singer: </strong> Yilian Lam, Jonathan Lee</li>
                <li><strong>Language: </strong>Mandarin</li>
                <li><strong>Record label:  </strong>Rolling Stone Records</li>
                <li><strong>Category:  </strong>Soundtracks, Video music</li>
                <li><strong>Date of issue:  </strong>12 December 1992</li>
            </ul>
        </right>
    </section>
</body>
